{% extends 'template.twig' %}
{% block title %}User registered successfully{% endblock %}
{% block content %}

<div class="row">
    <div class="alert alert-success col-md-6 col-md-offset-3 text-center"
         role="alert">
        User '{{ login }}' has been registered successfully.
    </div>
</div>

{% endblock %}
