{% extends 'template.twig' %}
{% block title %}User registered successfully{% endblock %}
{% block content %}

    <div class="row">
        <div class="col s6 offset-s3" role="alert">
            <div class="card green darken-1">
                <div class="card-content white-text">
                    <p>User '{{ login }}' has been registered successfully.</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
